.container {
    max-width: 400px;
}

img {
    width: 40px;
    height: 40px;
}

.delete {
    cursor: pointer;
}

.list li:nth-child(odd) {
    background-color: orange;
}

.list li:nth-child(even) {
    background-color: blueviolet;
}

.filtered {
  display: none !important;
}